<div class="container">
  <h1>投稿詳細</h1>

      <div class="row">
        <p class="col-md-2 font-weight-bold">曲名</p>
        <p class="col-md-2"><%= @evaluation.music_title %></p>
      </div>

      <div class="row">
        <p class="col-md-2 font-weight-bold">ポイント</p>
        <p class="col-md-2"><%= @evaluation.point %></p>
      </div>

      <div class="row">
        <p class="col-md-2 font-weight-bold">感想</p>
        <p class="col-md-2"><%= @evaluation.evaluation %></p>
      </div>

      <% if @evaluation.user_id = current_user.id %>
      <p><%= link_to "編集する", edit_public_evaluation_path(@evaluation.id) %></p>
      <p><%= link_to "削除する", public_evaluation_path(@evaluation.id), method: :delete ,"data-confirm" =>"本当に削除しますか?"%></p>
      <% end %>

  </div>