<div class="container">
<h1>ユーザーページ</h1>
  <p>名前</p>
  <%= @user.name %>
  <p>自己紹介</p>
  <%= @user.introduction %>

<% if @user.id = current_user.id %>
  <p><%= link_to "編集する" ,edit_public_user_path(@user.id) %></p>
<% end %>

<h1>ユーザーの投稿一覧</h1>
  <table class="table">
      <thead class="thead-light">
        <tr>
          <th>曲名</th>
          <th>ポイント</th>
          <th>感想</th>
          <th></th>
        </tr>
      </thead>

      <tbody class="table table-striped">
        <% @evaluations.each do |evaluation| %>
        <tr>
          <td><%= evaluation.music_title %></td>
          <td><%= evaluation.point %></td>
          <td><%= evaluation.evaluation %></td>
          <td><%= link_to "詳細を見る", public_evaluation_path(evaluation.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>


