<!DOCTYPE html>
<html>
  <head>
    <title>MusicDiscoverer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
        <a>管理者としてログイン中です</a>
        <li>
          <%=link_to "ログアウト",destroy_admin_session_path, method: :delete %>
        </li>
      <% elsif user_signed_in?%>
        <a>ログイン中です</a>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "新規登録",new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ユーザーログイン",new_user_session_path %>
        </li>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
